@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 4%; /* #2D2424 */
  }
}

@layer base {
  * {
    @apply border-secondary;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
